<br><br>
<div>
    <div style="display: flex; justify-content: space-evenly;">
        <p class="btn btn-outline-warning">Happiness: @ViewBag.Happiness</p>
        <p class="btn btn-outline-danger">Fullness: @ViewBag.Fullness</p>
        <p class="btn btn-outline-success">Energy: @ViewBag.Energy</p>
        <p class="btn btn-outline-primary">Meals: @ViewBag.Meals</p>
    </div>
    <div style="border: 1px solid orange; width: 70%; hieght: 400px; margin: auto; margin-bottom: 20px; text-align: center;">
        <img style="width: 200px; margin: 20px;" src="images/sad.gif" alt="">
        <p style="color: silver">Your Dojodachi has passed away...! </p>
    </div><br>
    <div style="text-align: center;">
        <a href="/restart"><button class="btn btn-outline-secondary">Restart?</button></a>
    </div>
</div>